.p1{
	color: black;
	font-size: 20px;
	font-weight:bolder;
	width : 300px;
}
.container{
	display: inline-block;
  width: 800px;
}
.div1{
  float: left;
}
.div2{
	display: inline-block;
	width: 390PX;
	background-color: white;
}
.div3{
	display: block;
	width: 390px;
	background-color: #F5FFFA;
	
}
/*.div4{
	display: inline-block;
	width: 200px;
	float: right;

}*/
.div4{
	display: block;
	width: 390px;
	background-color: #90EE90;

}
img{
	float: left;
	width: 200px;
	height: 200px;
	margin-right:20px;
}
.p2{
	font-size: 12;
	display: block;
	overflow: hidden;
}
span{
	font-size: 10;
	color:black;

}
.content{
  float: right;
}